[gcode_macro PRINT_START]
gcode:
    # Get params from slicer
    {% set BED = params.BED|default(60)|int %}
    {% set EXTRUDER = params.EXTRUDER|default(200)|int %}
    {% set MATERIAL = params.MATERIAL|default("PLA")|string %}
    
    # Geometry helpers
    {% set x_max = printer.toolhead.axis_maximum.x|float %}
    {% set y_max = printer.toolhead.axis_maximum.y|float %}
    {% set x_min = printer.toolhead.axis_minimum.x|float %}
    {% set y_min = printer.toolhead.axis_minimum.y|float %}
    {% set x_mid = (x_max + x_min) / 2.0 %}
    {% set y_mid = (y_max + y_min) / 2.0 %}
    
    # Enable filament sensor
    SET_FILAMENT_SENSOR SENSOR=SFS_T0 ENABLE=1
    
    # Start heating bed, preheat nozzle
    M140 S{BED}
    M104 S150
    
    # Home
    _CG28
    G90
    G1 Z20 F9000
    G1 X{x_mid} Y{y_mid} F12000
    
    # Wait for bed
    M190 S{BED}
    
    # QGL
    QUAD_GANTRY_LEVEL
    G28 Z
    
    # Bed mesh
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE METHOD=rapid_scan ADAPTIVE=1
    G1 X{x_mid} Y{y_mid} Z10 F12000
    
    # Heat nozzle
    M109 S{EXTRUDER}
    
    # Purge line
    G90
    G92 E0
    G1 X{(x_min + 30) if (x_min + 30) > 30 else 30} Y{y_min + 5} Z0.3 F12000
    G91
    G1 X220 E18 F1200
    G1 Y1 F6000
    G1 X-220 E9 F1200
    G90
    G92 E0
    
    # Enable Adaptive Flow
    AT_START


[gcode_macro PRINT_END]
gcode:
    # Disable Adaptive Flow first (saves learned values)
    AT_END
    SET_FILAMENT_SENSOR SENSOR=SFS_T0 ENABLE=0
    TURN_OFF_HEATERS
    M107
    
    # Safe Z raise
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% set z_safe = 20.0 if act_z < (max_z - 20) else (max_z - act_z) %}
    
    # Retract and move
    G91
    G1 E-5 F3600
    G0 Z{z_safe} F3600
    G90
    G0 X{printer.toolhead.axis_maximum.x - 10} Y{printer.toolhead.axis_maximum.y - 10} F12000
    
    # Motors off
    M84 X Y E
